* {
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
  background-color: #000000;
}

.container {
  border: solid 0.3px #8e8e8e;
  text-align: center;
  float: center;
  margin: 20px 20px 20px 20px;
}

div {
  padding-top: 1em;
}

label {
  display: block;
  font-size: 30px;
  font-style: oblique;
  color: #28acff;
  text-shadow: 0em 0em 0.2em #16a4fc;
}

span {
  font-style: oblique;
  padding: 6px;
  color: #b5b5b5;
  font-size: 1.3em;
}

textarea {
  width: 25em;
  height: 6em;
  background-color: #000000;
  border-radius: 9px;
  border: 1px solid #17ef00;
}

#birthday {
  width: 18em;
  height: 3em;
  font-style: oblique;
}

input {
  background-color: #000000;
  border-radius: 9px;
  margin-bottom: 16px;
  color: #b5b5b5 ;
  border: 1px solid #17ef00;
}

#name,
#email {
  width: 18em;
  height: 2.5em;
}

#url,
#password,
#number {
  width: 30em;
  height: 2.5em;
}

#file {
  width: 25em;
  height: 2.8em;
  font-style: oblique;
}

button {
  margin-top: 20px;
  width: 6em;
  height: 1.5em;
  font-size: 2em;
  border-radius: 1em;
  margin-right: 2em;
  color: #28acff;
  background-color: #000000;
  border: 2px solid;
  margin-bottom: 25px;
  font-style: oblique;
}

button:hover {
  background-color: #17ef00;
  color: #000000;
  font-style: oblique;
  border: 2px solid #ff0a0a;
  width: 6.2em;
  height: 1.7em;
  cursor: pointer;
}

#color {
  width: 8em;
  height: 3em;
}

#age {
  width: 2em;
  height: 2.5em;
  font-style: oblique;
}

input:active {
    border: 2px solid #ff0a0a;
}

input:hover{
    border: 2px solid #ff0a0a;
}

h2 {
  
  color: #FFFFFF;
  position: absolute;
  top: -17px;
  padding: 0 4px 0 4px;
  margin-left: 1000px;
}